<div class="container">
    <div class="row align-items-start"  >
      <div class="col" style="border: right 10px; height: 100px; background-color: 
      rgb(55, 0, 255);width: 30px; margin-left: 0%; padding-left: 0%;font-size: xx-large;font-family: Cambria, Cochin, Georgia, Times,
       'Times New Roman', serif;">
       <p> This is Remove page</p><br>

        <span style="color: rgb(6, 28, 34); font-size: medium;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            
             </span>
      </div>
      </div>
      </div>