<div class="container">
    <div class="row align-items-start"  >
      <div class="col" style="border: right 10px; height: 100px; background-color: 
      aqua;width: 30px; margin-left: 0%; padding-left: 0%;font-size: xx-large;font-family: Cambria, Cochin, Georgia, Times,
       'Times New Roman', serif;">
        this is add page<br>

        <span style="color: brown; font-size: medium;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <br> Rem illo quam dolores fugit vero quaerat amet suscipit in architecto eveniet<br>
             dolore quia repellendus neque quisquam perferendis sint, aut perspiciatis officiis?</span>
      </div>
      </div>
      </div>